__pycache__/
*.py[cod]
*$py.class
dados/**/*.csv
dados/*.csv
resultados/experimentos/**/*.csv
resultados/simulacao_*/**/*.csv
*.joblib
*.pkl
*.db
*.sqlite
*.sqlite3
mlruns/
data_storage/
.env
venv/
env/
.vscode/
.idea/
.DS_Store
.venv/
_archive/
_archive
*.zip
.pytest_cache/